* {
  box-sizing: border-box;
}

body {
  background: url("./Assets/IMG_4750.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  color: white;
  font-size: 20px;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  top: 10%;
  left: 10%;
  right: 60%;
  color: blue;
}

h1 {
  margin: 50;
}

nav {
  margin: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

nav ul a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

.page-wrapper {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* trying to move page around */
.page-section p {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  float: left;
  flex: clear;
  color: white;
}

section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

footer a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

/*not on the same line*/
.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  color: blue;
  margin: 50%;
  padding: 5px 10px;
  font-size: 30px;
  line-height: 2;
  display: inline;
}

.hero-banner {
  justify-content: center;
  text-align: center;
}
